<div>
  <div class="modal-header">
    <h3 class="modal-title">Editar Rutina Detalle</h3>
  </div>
  <div class="modal-body"> 
    <form sf-schema="RutinaDetalleSchema"  sf-form="form" sf-model="rutinaDetalleForm"></form>
      <div>
        <label class='col-sm-3 control-label'>Ejercicio</label>
        <select name="ejercicio" id="idEjercicio" class="form-control"
          ng-model="requestObject.idEjercicio"
          ng-options="o.idEjercicio as o.descEjercicio for o in ejercicios"
          required>
        </select>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-default" ng-click="$close()">Cancel</button>
  </div>
</div>
