<div class="bg-white-only">
  <div class="container">
    <h1>Eventos</h1>
    <p>Mantenimiento para la creacion de Eventos.</p>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <form  id="createEventoForm" name="createEventoForm" class="bs-example form-horizontal" role="form">
            <div ng-class="{error: onError && createEventoForm.desc.$invalid}">
              <div class="form-group">
                <label class="col-lg-2 control-label">Descripcion</label>
                <div class="col-lg-10">
                  <input type="text" id="desc" class="form-control rounded" desc="desc" placeholder="Required" required ng-model="requestObject.desc">  
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Observaciones</label>
                <div class="col-lg-10">
                  <input type="text" id="obs" class="form-control rounded" obs="obs" placeholder="Required" required ng-model="requestObject.obs">  
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Hora de Inicio</label>
                <div class="col-lg-10">
                  <input type="text" id="ini" class="form-control rounded" ini="ini" placeholder="Required" required ng-model="requestObject.ini">  
                </div>
              </div>  
              <div class="form-group">
                <label class="col-lg-2 control-label">Hora Final</label>
                <div class="col-lg-10">
                  <input type="text" id="fin" class="form-control rounded" fin="fin" placeholder="Required" required ng-model="requestObject.fin">  
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button class="btn btn-sm btn-info" ng-click="saveEvento($event)" >Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="table-responsive m-b-lg">
       <div ui-grid="gridOptions" class="myGrid" ></div>
      </div>
    </div>
  </div>
</div>
