<meta charset="utf-8">
<div class="bg-white-only">
	<div class="container">
		<h1>Eventos</h1>
		<p>Mantenimiento para la creacion de eventos.</p>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="createEventoForm" name="createEventoForm"
						class="bs-example form-horizontal" role="form">
						<div ng-class="{error: onError && createEventoForm.desc.$invalid}">
							<div class="form-group">
								<label class="col-lg-2 control-label">Descripción</label>
								<div class="col-lg-10">
									<input type="text" id="desc" class="form-control rounded"
										desc="desc"
										ng-model="requestObject.desc">
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">Observaciones</label>
								<div class="col-lg-10">
									<input type="text" id="obs" class="form-control rounded"
										obs="obs"
										ng-model="requestObject.obs">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Fecha Inicial</label>
								<div class="col-sm-10">
									<div class="input-group w-md">
										<input type="text" id="ini" ini="ini" class="form-control"
											uib-datepicker-popup="{{format}}"
											ng-model="requestObject.ini" is-open="popup1.opened"
											datepicker-options="dateOptions" ng-required="true"
											close-text="Close" alt-input-formats="altInputFormats" /> <span
											class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="open1()">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Fecha Final</label>
								<div class="col-sm-10">
									<div class="input-group w-md">
										<input type="text" id="fin" fin="fin" class="form-control"
											uib-datepicker-popup="{{format}}"
											ng-model="requestObject.fin" is-open="popup2.opened"
											datepicker-options="dateOptions" ng-required="true"
											close-text="Close" alt-input-formats="altInputFormats" /> <span
											class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="open2()">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
								<div><button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="saveEvento($event)"><i class="fa fa-plus"></i>Agregar</button></div>
								</div>
							</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
		 <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive m-b-md footable-filtering">
						<div ui-grid="gridOptions" class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
