<meta charset="utf-8">
<div>
  <div class="modal-header">
      <h3 class="modal-title">Asignación de máquinas </h3>
  </div>
  <div class="modal-body">
            <div flex="50" ng-repeat="maquina in maquinas">
              <input type="checkbox" ng-checked="exists(maquina, maquinasSeleccionadas)" ng-click="toggle(maquina, maquinasSeleccionadas)"/>
                {{maquina.descMaquina}} 
              
            </div>
  </div> 
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="save()">Salvar</button>
      <button class="btn btn-default" ng-click="$close()">Cancelar</button>
  </div>
</div>
